---
import DashboardLayout from '../../layouts/BaseDashboard.astro';
---

<DashboardLayout>
  <h1>Contenido del dashboard de cliente</h1>
</DashboardLayout>

<script type="module">
  import { requireRole } from "/src/lib/authHelpers.js";

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', async () => {
      console.log("DOM listo, ejecutando requireRole para cliente");
      await requireRole(["cliente"]);
    });
  } else {
    console.log("DOM ya listo, ejecutando requireRole para cliente");
    await requireRole(["cliente"]);
  }
</script>
