---
import DashboardLayout from '../../layouts/BaseDashboard.astro';
---

<DashboardLayout>
  <h1>Contenido del dashboard de recepcionista</h1>
</DashboardLayout>

<script type="module">
  import { requireRole } from "/src/lib/authHelpers.js";
  
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      console.log("DOM listo, ejecutando requireRole para recepcionista");
      requireRole(["recepcionista"]);
    });
  } else {
    console.log("DOM ya listo, ejecutando requireRole para recepcionista");
    requireRole(["recepcionista"]);
  }
</script>
