<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
<div class="flex flex-row items-center">
    <span class="self-center material-symbols-outlined text-primary text-amber-600 bg-orange-400/20 rounded-lg p-2" style="font-size: 28px;">{Astro.props.contact}</span>
    <div class="flex flex-col ml-4">
        <h2>{Astro.props.title}</h2>
        <p>{Astro.props.content}</p>
    </div>
</div>