---
import Base from '../layouts/Base.astro'
import Hero from '../sections/hero.astro'
import Services from '../sections/services.astro'
import About from '../sections/about.astro'
import Contact from '../sections/contact.astro'
---
<Base title="Veterinaria Pochita S.A">
	<main>
		<Hero />
		<Services />
		<About />
		<Contact />
	</main>
</Base>